{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-empty": "error",
    "no-var": "error",
    "semi": "error",
    "no-console": "off",
    "quotes": "off",
    "prefer-template": "off",
    "no-return-assign": "error",
    "semi-spacing": "error",
    "space-infix-ops": "error",
    "no-constant-condition": "off"
  }
}